body {
  background-color: rgb(245, 245, 245);
}

.TopLayout {
  display: block;
  flex-direction: column;
}

.TopTextImgLayout1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
}

.TopTextStyle1 {
  border-style: solid;
  font-size: 18px;
  flex-basis: auto;
  width: 250px;
  height: auto;
  background-color: rgb(240, 240, 240);
  border-color:rgb(240, 240, 240);
  border-width: 10px;
  height: 380px;
}

.TopText1 {
  font-size: 100%;
}

.TopimgStyle1 {
  height: 197.5px;
  width: 300px;
}

.Topimg1 {
  height: 100%;
  width: 100%;
}

.TopText2 {
  font-size: 100%;

}

.Topimg2 {
height: 100%;
width: 100%;
}


/* StorBild */

.StorBildLayoutStyle {
display: flex;
justify-content: center;
width: 1000px;
height: 500px;
margin-top: 100px;
margin-left: auto;
margin-right: auto;
}

.Storimg {
 height: 100%;
 width: 100%;
}

/* Bottom */

.BottomTextLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 100px;
}

.BTextStyle1 {
  border-style: solid;
  background-color: rgb(230, 230, 230);
  border-width: 0;
  border-color: rgb(230, 230, 230);
  padding-right: 20px;
  padding-left: 20px;
  font-size: 20px;
}

.BTextStyle2 {
  border-style: solid;
  background-color: rgb(230, 230, 230);
  border-width: 0;
  border-color: rgb(230, 230, 230);
  padding-right: 20px;
  padding-left: 20px;
  font-size: 20px;
}

.BTextStyle3 {
  border-style: solid;
  background-color: rgb(230, 230, 230);
  border-width: 0;
  border-color: rgb(230, 230, 230);
  padding-right: 20px;
  padding-left: 20px;
  font-size: 20px;
}