body {
  background-color: lightgrey;
  background: no-repeat;
  background-image: url(Maybe_BetterIDEA.jpg);
}

.HeaderMS {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  text-align: center;
}

.HeaderSecond {
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 1px;
  margin-top: 25%;
}

.HeaderMain {
  font-size: 70px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 10px;
}

.L채nkarPosition {
  box-sizing: border-box;
  display: block;

  margin-left: 170px;
  margin-right: 170px;
  margin-bottom: 40px;
  margin-top: -10px;
  height: 380px;
  width: 1120px;
  position: relative;
}

.L채nkarLayout {
  box-sizing: border-box;
  display: block;
  font-family: "Open sans", sans-serif;
  height: 380px;
  line-height: 25px;
  margin-bottom: -10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  width: 1140px;
  pointer-events: auto;
}

.L채nkarLayoutRow {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  font-family: "Open sans", sans-serif;
  height: 380px;
  flex-wrap: wrap;
  max-width: 100%;
  min-height: 100%;
  width: 1140px;
  flex-basis: 100%;
  pointer-events: auto;
}

.ContainerStyle1 {
  background-color: rgb(245, 245, 245);
  background-clip: padding-box;
  border-color: rgb(0, 0, 0, 0);
  border-style: solid;
  border-width: 10px;
  font-size: 16px;
  border-image-outset: 0px;
  box-sizing: border-box;
  display: flex;
  flex-basis: 33, 3333%;
  height: 360px;
  width: 380px;
  max-height: 100%;
  max-width: 33.3333%;
  min-height: 380px;
  font-size: 25px;
  text-align: center;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  background-origin: padding-box;
}

.ContainerLayout1 {
  display: flex;
  flex-basis: 0%;
  flex-direction: column;
  height: 360px;
  width: 360px;
  flex-grow: 1;
  flex-shrink: 1;
}

.imageStyle1 {
 margin-top: 60px ; 
}

.imageSize1 {
  height: 80px;
  width: 80px;
}

.ContainerH4Style1 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.ContainerText1 {
  font-size: 15px;
  text-align: center;
  margin: 0 20px 0 20px;
}

.ContainerL채nk1 {
margin-top: 20px;
color:darkorange;
font-size: 18px;
text-decoration: none;
}

.ContainerStyle2 {
  background-color: rgb(245, 245, 245);
  background-clip: padding-box;
  border-color: rgb(0, 0, 0, 0);
  border-style: solid;
  border-width: 10px;
  font-size: 16px;
  border-image-outset: 0px;
  box-sizing: border-box;
  display: flex;
  flex-basis: 33, 3333%;
  height: 360px;
  width: 380px;
  max-height: 100%;
  max-width: 33.3333%;
  min-height: 380px;
  font-size: 25px;
  text-align: center;
  position: relative;
  text-size-adjust: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  background-origin: padding-box;
}

.ContainerLayout2 {
  display: flex;
  flex-direction: column;
  height: 360px;
  width: 360px;
}

.ContainerStyle3 {
  background-color: rgb(245, 245, 245);
  background-clip: padding-box;

  border-color: rgb(0, 0, 0, 0);
  border-style: solid;
  border-width: 10px;
  font-size: 16px;
  border-image-outset: 0px;
  box-sizing: border-box;
  display: flex;
  flex-basis: 33, 3333%;
  height: 360px;
  width: 380px;
  max-height: 100%;
  max-width: 33.3333%;
  min-height: 380px;
  font-size: 25px;
  text-align: center;
  position: relative;
  text-size-adjust: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  background-origin: padding-box;
}

.ContainerLayout3 {
  display: flex;
  flex-direction: column;
  height: 360px;
  width: 360px;
}